.container {
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: max(90vw, 800px);
}
.container h1 {
    color: green;
    padding: 20px;
}
.item {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.head {
    color: green;
    font-size: 21px;
    font-weight: 500;
}
.options {
    display: grid;
    grid-template-columns: 25% auto;
    gap: 20px;
}
.options button, .pagination button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    font-weight: 700;
    cursor: pointer;
}
.options button:active, .pagination button:active {
    transform: scale(0.99) translateY(2px);
}
.options input {
    text-indent: 20px;
    font-size: 18px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination button {
    width: 100px;
    margin: 20px;
}
.pagination span {
    color: white;
    width: 50px;
    height: 50px;
    background: blueviolet;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
    line-height: 50px;
}
.pagination button:disabled {
    opacity: 0.5;
}
.pagination button:disabled:active {
    transform: none;
}