.container {
    margin: 10px;
    margin-top: 0;
    border-radius: 17px;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: var(--box-shadow);
    position: relative;
}
.container button {
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    right: 30px;
    background-color: transparent;
    color: black;
    border: 3px solid blueviolet;
}
.container button:active {
    transform: scale(0.99) translateY(2px);
}